/*body{
  background-color: red;
}*/
h1 {
    font-size: 9em;
}

@media (min-width:100px) and (max-width:650px) {

  h1 {
    font-size: 3em;
  }

  .logo {
    width: 60px;
  }

  .running-text {
    max-width: 400px;
    column-count: 1;
    font-size: 0.8em;
  }

  .img-accueil {
  width: 320px;
  }

  .footer-part {
    flex-direction: column;
    text-align: center;
  }

  footer {
    height: 570px;
  }

  footer img {
    margin-top: 30px;
  }
}

@media (min-width:651px) and (max-width: 767px) {
  /*body{
    background-color: green;
      }
      */
  h1 {
    font-size: 3em;
  }

  header {
    width: 95%;
  }

  .logo {
    width: 60px;
  }

  .running-text {
    max-width: 600px;
    column-count: 2;
    font-size: 0.8em;
  }

  .intro {
    padding-right: 11px;
  }

  .img-accueil {
  width: 320px;
  }

  .gorille {
    width: 90%;
  }

}


@media (min-width:768px) and (max-width: 1024px) {

  h1 {
    font-size: 5em;
  }

  .running-text {
    max-width: 680px;
    column-count: 2;
    font-size: 0.9em;
  }

  .intro {
    padding-right: 11px;
  }

  .img-accueil {
  width: 300px;
  }

  /*body{
    background-color: purple;
      }
      */

  /*.hero {
    background-image: url(../../images/jungle02.jpg);
  } */
}

@media (min-width:1025px) and (max-width: 1280px) {
  /*body{
    background-color: brown;
      }
      */

      h1 {
        font-size: 7em;
      }

      .running-text {
        max-width: 900px;
      }

      .img-accueil {
      width: 300px;
      }
}
