/*body{
  background-color: red;
}*/
h1 {
    font-size: 10em;
}

@media (max-width:480px) {
body{

    }
}

@media (min-width:481px) and (max-width: 767px) {
  body{
    background-color: green;
      }
  h1 {
    font-size: 5em;
  }
}
@media (min-width:768px) and (max-width: 1024px) {
  body{
    background-color: purple;
      }

  .hero {
    background-image: url(images/jungle02.jpg);
  }
}
@media (min-width:1025px) and (max-width: 1280px) {
  body{
    background-color: brown;
      }
}
