
h1 {
    font-size: 9em;
}

@media (max-width:650px) {

  h1 {
    font-size: 3em;
  }

  .logo {
    width: 60px;
  }

  .running-text {
    max-width: 250px;
    column-count: 1;
  }

  .intro {
  font-size: 1em;
  }

  .gorille {
    width: 100%;
  }

  .gorilla {
    grid-template-columns: 100%;
  }

  .img-accueil {
    border-radius: 0;
  }

  .dossier-top {
    flex-wrap: wrap;
    justify-content: center;
  }

  .portrait {
    margin: 0;
    margin-bottom: 70px;
  }

  .dossier-top-content {
     max-width: 80%;
  }

  .text {
    column-count: 1;
    max-width: 60%;
    margin-top: 50px;
  }

  .dossier-top-content {
    width: 600px;
  }


  .footer-part {
    flex-direction: column;
    text-align: center;
  }

  footer {
    height: 570px;
  }

  footer img {
    margin-top: 30px;
  }
}

@media (min-width:651px) and (max-width: 767px) {
  /*body{
    background-color: green;
      }
      */
  h1 {
    font-size: 3em;
  }

  header {
    width: 95%;
  }

  .logo {
    width: 60px;
  }

  .running-text {
    max-width: 400px;
    column-count: 1;
    font-size: 1em;
  }

  .intro {
    padding-right: 11px;
  }

  .gorille {
    width: 100%;
  }

  .gorilla {
    grid-template-columns: 100%;
  }

  .img-accueil {
    border-radius: 0;
  }

  .dossier-top {
    flex-wrap: wrap;
    justify-content: center;
  }

  .portrait {
    margin: 0;
    margin-bottom: 70px;
  }

  .dossier-top-content {
     max-width: 80%;
  }

  .text {
    column-count: 1;
    max-width: 60%;
  }

  .dossier-top-content {
    width: 600px;
  }


}


@media (min-width:768px) and (max-width: 1024px) {

  h1 {
    font-size: 5em;
  }

  .running-text {
    max-width: 680px;
    column-count: 2;
    font-size: 0.9em;
  }

  .intro {
    padding-right: 11px;
  }

  .gorilla {
    grid-template-columns: 300px 300px;
  }

  .text {
    column-count: 2;
  }

  .dossier-top-content {
    width: 400px;
  }
}

@media (min-width:1025px) and (max-width: 1280px) {


      h1 {
        font-size: 7em;
      }

      .running-text {
        max-width: 900px;
      }

      .gorilla {
        grid-template-columns: 250px 250px 250px;
      }

      .dossier-top-content {
        width: 600px;
      }
}
