 body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* --------- HEADER ------------------------- */

header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 80px;
  text-align: center;
}

header li {
  list-style-type: none;
  display: inline-block;
  margin: auto;
  margin-left : 100px;

}




/* --------- NAV - MENU BURGER ------------------------- */

.menu-toggle .burger-breads span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 5px;
  z-index: 1;
}

.menu-close .burger-breads span {
  display: block;
  width: 23px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform: rotate(45deg) translate(9px,11px);
  background: #cdcdcd;
}

.menu-close .burger-breads span:nth-child(2) {
  transform: rotate(135deg) translate(6px,-3px);
}

.menu-close .burger-breads span:nth-child(3) {
  opacity: 0;
}

/* Style du menu */
.menu-toggle {
  display: inline-block;
  padding: 1em;
  margin-top : auto;
  margin-bottom: auto;
}

.main-menu {
  position: absolute;
  left : -200px;
  top: 0;
  bottom:0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 1001;
}

.main-menu ul {
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 200px;
  background: white;
}

.main-menu li {
  margin-left: 0;
  display: block;
  line-height: 1em;
  border-bottom: 1px solid #cdcdcd;
}

.main-menu a {
  font-size:1em;
  color: black;
  text-decoration: none;
  padding: .75em 15px;
  display: block;
}

.main-menu li:first-child {
  border-top: 1px solid #cdcdcd;
}

.main-menu li:hover,
.main-menu li:focus {
  background: #383838;
}

.main-menu li:hover a,
.main-menu li:focus a{
  color: white;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top:0;
  border-bottom: 1px solid transparent;
}

/* --------------------------------------------------*/

/* Cacher le menu - STEP03 */

.main-menu {
  transform : translateX(-200);
}


/* Targeting the menu - STEP04 */

.main-menu:target {
  left: 0;
  outline: none;
  box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}

.main-menu:target .menu-close {
  z-index : 1001;
}

/*
We could use '.main-menu:target:after', but it wouldn't be clickable.
*/

.main-menu:target + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop {
    position: fixed;
  }
}

/*
Larger screen styling
Horizontal menu
*/


@media (min-width: 768px)  {

  .logo {
    opacity: 100%;
  }

  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
  }

  .main-menu ul {
    display: flex;
    /* Undo off-canvas styling */
    padding: 0;
    height: auto;
    width: auto;
    background: none;
  }

  .main-menu li {
    margin-left: 100px;
    display: inline-block;
    border-bottom: 0 !important;
  }

  .main-menu li:first-child {
    border-top: 0;
  }

  .main-menu li:hover a,
  .main-menu li:focus a {
    color: black;
    text-decoration: underline;
  }

  .main-menu li:hover,
  .main-menu li:focus {
    background: none;
  }
}

/* ___________________________________________________________________________
                               Page ACCUEIL
   ___________________________________________________________________________*/

/* ------------- HERO --------------------- */

.hero {
  width: 100%;
  height: 550px;
  margin-top: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url(../../images/jungle01.jpg);
  background-size: cover;
}

.hero_content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1001;
}


.hero h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom : 2%;
  color : white;
}

.intro-1 {
  color: white;
  width: 60%;
  margin: auto;
  padding-bottom: 60px;
}

.intro-2 {
  color: white;
  width: 60%;
  margin: auto;
  padding-bottom: 30px;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.scroll-icon {
  width: 20px;
  margin:auto;
}

.scroll-icon:hover {
  transform: translateY(20px);
}

.angle-down {
  /* position: relative; */
  width: 20px;
  /* text-align: center; */
  z-index: 1001;
  /* margin-bottom: 70px; */
}


 @media (min-width:1025px) and (max-width: 1280px) {
  .hero {
    background-image: url(../../images/jungle02.jpg);
  }

  .hero::after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
  }

  .hero h1 {
    position: relative;
    z-index: 999;
  }

  .intro-1, .intro-2 {
    position: relative;
    z-index: 999;
  }



}

 @media (min-width:768px) and (max-width: 1024px) {

  .hero {
    background-image: url(../../images/jungle03.jpg);
  }

  .hero::after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
  }
  .hero h1 {
    position: relative;
    z-index: 999;
  }

  .intro-1, .intro-2 {
    position: relative;
    z-index: 999;
    font-size: 1em;
  }

  .intro-2 {
    font-size: 1.1em;
  }

}

@media (min-width:481px) and (max-width: 767px) {
  .hero {
    background-image: url(../../images/jungle04.jpg);
  }

  .hero::after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
  }
  .hero h1 {
    position: relative;
    z-index: 999;
  }

  .intro-1, .intro-2 {
    position: relative;
    z-index: 999;
    font-size: 0.9em;
  }

  .intro-2 {
    font-size: 1em;
  }

}



/* ------------- SECTION RUNNING TEXT --------------------- */

.running-text {
  max-width: 960px;
  margin: auto;
  margin-top: 600px;
  margin-bottom: 5%;
  column-count: 3;
}

.running-text h2 {
  column-span: all;
}

.para-title {
  margin-top: 60px;
}


/* ------------- SECTION GORILLE --------------------- */

.gorille {
  padding-bottom: 10%;
  width: 80%;
  margin: auto;
}


.gorilla {
  margin-top: 10%;
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 50px;
  grid-row-gap : 50px;
}

.gorilla figure {
  margin: 0;
  padding: 0;
}

.img-accueil {
/*  width: 250px; */
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.img-accueil:hover {
  transition: all 0.5s ease;
  box-shadow: 0px 0px 24px -8px rgba(66,66,66,1);
}


.button {
  text-decoration: none;
  width: 150px;
  padding-top: 30px;
  display: block;
  margin: auto;
}

.voir-plus {
  width: 150px;
  padding: 1em 0em 1em 0em;
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.voir-plus:hover,
.voir-plus:focus {
  background-color: black;
  color: white;
  transition: all 0.5s ease;
}

/* ___________________________________________________________________________
                               Page Liste
   ___________________________________________________________________________*/


.banner {
  background-image: url(../../images/list-page-bcg.jpg);
  background-size: cover;
  width: 100%;
  height : 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner::after {
  content: "";
  position: absolute;
  background-color: rgba(0,0,0,.3);
  top: 10;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 990;
}

.page-title {
  color: white;
  z-index: 1000;
}

.card {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 100px;
}

.gorilla-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.goilla-list-item {
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  flex-basis: 350px;
  margin-bottom: 50px;
}

.goilla-list-item:hover {
  animation: appearIn 0.5s;
}

.goilla-list-item figure {
  margin: 10%;
}

article figure img {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
}

figure h3 {
  float: right;
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}


.more-link {
  padding: 5px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  width : 40%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 30px;
  text-decoration: none;
  color: white;
  background-color: black;
}

.more-link:hover {
  color : black;
  background-color: white;
  font-weight: bold;
}

/* ___________________________________________________________________________ */

/* ------------- FOOTER --------------------- */


footer {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
}

.footer-part {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  width: 150px;
  height: auto;
}


/* ------------ Keyframe - Animations -------------------------*/

@keyframes appearIn {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }

  0% {
    transform: scale(1);
  }
}
