 body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* --------- HEADER ------------------------- */

header {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 10%;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  background-color: grey;
  text-align: center;
  opacity: 0;
}

header li {
  list-style-type: none;
  display: inline-block;
  margin: auto;
  margin-left : 100px;

}




/* --------- NAV - MENU BURGER ------------------------- */

.menu-toggle .burger-breads span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 5px;
  z-index: 1;
}

.menu-close .burger-breads span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform: rotate(45deg) translate(8px,14px);
  background: rgb(127, 140, 167);
}

.menu-close .burger-breads span:nth-child(2) {
  transform: rotate(135deg) translate(8px,0px);
}

.menu-close .burger-breads span:nth-child(3) {
  opacity: 0;
}

/* Style du menu */
.menu-toggle {
  display: inline-block;
  padding: 1em;
  margin-top : auto;
  margin-bottom: auto;
}

.main-menu {
  position: absolute;
  left : -200px;
  top: 0;
  bottom:0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 200px;
  background: white;
}

.main-menu li {
  margin-left: 0;
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  border-bottom: 1px solid rgb(127,140,167);
}

.main-menu a {
  font-size:1em;
  color: black;
  text-decoration: none;
}

.main-menu li:first-child {
  border-top: 1px solid rgb(127,140,167);
}

.main-menu li:hover,
.main-menu li:focus {
  background: #bbf6b7;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top:0;
  border-bottom: 1px solid transparent;
}

/* --------------------------------------------------*/

/* Cacher le menu - STEP03 */

.main-menu {
  transform : translateX(-200);
}


/* Targeting the menu - STEP04 */

.main-menu:target {
  left: 0;
  outline: none;
  box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}

.main-menu:target .menu-close {
  z-index : 1001;
}

/*
We could use '.main-menu:target:after', but it wouldn't be clickable.
*/

.main-menu:target + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop {
    position: fixed;
  }
}

/*
Larger screen styling
Horizontal menu
*/


@media (min-width: 768px)  {

  .logo {
    opacity: 100%;
  }

  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
  }

  .main-menu ul {
    display: flex;
    /* Undo off-canvas styling */
    padding: 0;
    height: auto;
    width: auto;
    background: none;
  }

  .main-menu li {
    margin-left: 100px;
    border-bottom: 0 !important;
  }

  .main-menu li:first-child {
    border-top: 0;
  }

  .main-menu a:hover,
  .main-menu a:focus {
    color: black;
    text-decoration: underline;
  }

  .main-menu li:hover,
  .main-menu li:focus {
    background: none;
  }
}

/* ___________________________________________________________________________
                               Page ACCUEIL
   ___________________________________________________________________________*/

/* ------------- HERO --------------------- */

.hero {
  width: 100%;
  position: relative;
  background-image: url(../../images/jungle01.jpg);
  background-size: cover;
}

.hero h1 {
  text-align: center;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 2%;
  color : white;
}

.intro-1 {
  color: white;
  width: 60%;
  margin: auto;
  padding-bottom: 10%;
}


 @media (min-width:1025px) and (max-width: 1280px) {
  .hero {
    background-image: url(../../images/jungle02.jpg);
  }

  .hero::after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
  }

  .hero h1 {
    position: relative;
    z-index: 999;
  }

  .intro-1 {
    position: relative;
    z-index: 999;
  }

}
 @media (min-width:768px) and (max-width: 1024px) {

  .hero {
    background-image: url(../../images/jungle03.jpg);
  }

  .hero::after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
  }
  .hero h1 {
    position: relative;
    z-index: 999;
  }

  .intro-1 {
    position: relative;
    z-index: 999;
    font-size: 0.9em;
  }
}
@media (min-width:481px) and (max-width: 767px) {
  .hero {
    background-image: url(../../images/jungle04.jpg);
  }

  .hero::after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
  }
  .hero h1 {
    position: relative;
    z-index: 999;
  }

  .intro-1 {
    position: relative;
    z-index: 999;
    font-size: 0.8em;
  }
}



/* ------------- SECTION RUNNING TEXT --------------------- */

.running-text {
  max-width: 960px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  column-count: 3;
}

.running-text h2 {
  column-span: all;
}


/* ------------- SECTION GORILLE --------------------- */

.gorille {
  padding-bottom: 10%;
  width: 80%;
  margin: auto;
}

.gorilla {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-accueil {
width: 300px;
margin-bottom: 10%;
border-radius: 5px;
flex-basis: 350px;
}

.voir-plus {
  float: right;
  width: 10%;
  margin-right: 10%;
  padding-top : 1%;
  padding-bottom: 1%;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}

/* ___________________________________________________________________________
                               Page Liste
   ___________________________________________________________________________*/


.page-title {
  position: absolute;
  left: 20%;
}

.card {
  width: 100%;
  margin-top: 120px;
}

.gorilla-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.goilla-list-item {
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  flex-basis: 350px;
  margin-bottom: 50px;
}

.goilla-list-item figure {
  margin: 10%;
}

article figure img {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
}

figure h3 {
  float: right;
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}


.more-link {
  padding: 5px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  width : 40%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 30px;
  text-decoration: none;
  color: white;
  background-color: black;
}

.more-link:hover {
  color : black;
  background-color: white;
  font-weight: bold;
}

/* ___________________________________________________________________________ */

/* ------------- FOOTER --------------------- */


footer {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
}

.footer-part {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

footer ul {
  /* padding-top: 50px; */
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  width: 150px;
  height: auto;
}
