body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* --------- HEADER ------------------------- */

header {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 10%;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  background-color: grey;
  text-align: center;
}

header ul {
  width: 90%;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin: auto;
  text-align: right;
}

header li {
  list-style-type: none;
  display: inline-block;
  margin-left : 100px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* ___________________________________________________________________________
                               Page ACCUEIL
   ___________________________________________________________________________*/

/* ------------- HERO --------------------- */

.hero {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80);
  background-size: cover;
}


h1 {
  text-align: center;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 2%;
  color : white;
}

.intro-1 {
  color: white;
  width: 60%;
  margin: auto;
  padding-bottom: 10%;
}


/* ------------- SECTION TEXT --------------------- */

.text {
  max-width: 960px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.intro {
  flex-basis: 280px;
}

/* ------------- SECTION GORILLE --------------------- */

.gorille {
  margin-bottom: 10%;
  width: 80%;
  margin: auto;
}

.gorilla {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-accueil {
width: 300px;
margin-bottom: 10%;
border-radius: 5px;
flex-basis: 350px;
}

.voir-plus {
  float: right;
  width: 10%;
  margin-right: 10%;
  padding-top : 1%;
  padding-bottom: 1%;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}

/* ___________________________________________________________________________
                               Page Liste
   ___________________________________________________________________________*/


h2 {
  position: absolute;
  left: 20%;
}

.card {
  width: 100%;
  margin-top: 120px;
}

.gorilla-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.goilla-list-item {
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  flex-basis: 350px;
  margin-bottom: 50px;
}

.goilla-list-item figure {
  margin: 10%;
}

article figure img {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
}

h3 {
  float: right;
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}


.more-link {
  padding: 5px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  width : 40%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 30px;
  text-decoration: none;
  color: white;
  background-color: black;
}

.more-link:hover {
  color : black;
  background-color: white;
  font-weight: bold;
}

/* ___________________________________________________________________________ */

/* ------------- FOOTER --------------------- */


footer {
  width: 100%;
  height: 200px;
  background-color: black;
  margin-top: 100px;
}

.footer {
  width: 80%;
  margin: auto;
  padding-top: 5%;
  color: white;
  font-size: 2em;
}
